@model MVC_WEB_Project.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<style>
    .row {
        text-align: center;
        display: inline-block;
        float: none;
    }
</style>
<div class="text-center">
    <h1>Edit Order</h1>
    <hr />
    <div class="row">
        <div class="col-xs-1 text-center">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrderNo" class="control-label"></label>
                    <input asp-for="OrderNo" class="form-control" readonly />
                    <span asp-validation-for="OrderNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input id="orderDateInput" class="form-control" type="date" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label"></label>
                    <input asp-for="TotalAmount" class="form-control" readonly />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
                <h2>Product Items</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>TotalAmount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.OrderItems.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input asp-for="@Model.OrderItems[i].Product.Name" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="@Model.OrderItems[i].Quantity" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="@Model.OrderItems[i].TotalAmount" class="form-control" readonly />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="removeItem(@i)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
    document.getElementById('orderDateInput').value = formatDate(new Date());

    function removeItem(index) {
        var row = document.getElementById("orderItemsTable").getElementsByTagName('tbody')[0].getElementsByTagName('tr')[index];
        row.remove();
    }
</script>
