@{
    ViewData["Customers"] = "Manage Customer";
}
<h1>@ViewData["Title"]</h1>
<a href="" class="btn btn-primary">Add a Customer</a>
<div class="text-center">
    <h1 class="display-4">List of Customers</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jeremiah Rodriguez</td>
                <td><a href="" class="btn btn-outline-danger">Edit</a></td>
            </tr>
            <tr>
                <td>Kj Luab</td>
                <td><a href="" class="btn btn-outline-danger">Edit</a></td>
            </tr>
            <tr>
                <td>Arnan Johndel</td>
                <td><a href="" class="btn btn-outline-danger">Edit</a></td>
            </tr>
            <tr>
                <td>Jezreel Eyas</td>
                <td><a href="" class="btn btn-outline-danger">Edit</a></td>
            </tr>
            <tr>
                <td>Kiyoshi Teppei</td>
                <td><a href="" class="btn btn-outline-danger">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>